                                                                                                        
<html>                                                                                                                     
  <head><title>Generator Monitor</title></head>                                                                                     
  <meta http-equiv="refresh" content="10" >                                                                                
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>                                                        
  <body>                                                                                                                   
    最終更新時間[UTC]：2019-05-22 19:49:48<br>                                                                                   
    <table border="1" class="dataframe mystyle">
  <tbody>
    <tr>
      <td>Oil pressure</td>
      <td>440.0</td>
    </tr>
    <tr>
      <td>Coolant temp</td>
      <td>83.0</td>
    </tr>
    <tr>
      <td>ChgAltnV</td>
      <td>28.2</td>
    </tr>
    <tr>
      <td>Battery voltage</td>
      <td>28.2</td>
    </tr>
    <tr>
      <td>Engine speed</td>
      <td>1800.0</td>
    </tr>
    <tr>
      <td>Frequency</td>
      <td>60.0</td>
    </tr>
    <tr>
      <td>L1-N voltage</td>
      <td>127.9</td>
    </tr>
    <tr>
      <td>L2-N voltage</td>
      <td>127.5</td>
    </tr>
    <tr>
      <td>L3-N voltage</td>
      <td>127.0</td>
    </tr>
    <tr>
      <td>L1-L2 voltage</td>
      <td>221.4</td>
    </tr>
    <tr>
      <td>L2-L3 voltage</td>
      <td>219.8</td>
    </tr>
    <tr>
      <td>L3-L1 voltage</td>
      <td>221.1</td>
    </tr>
    <tr>
      <td>L1 ampare</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>L2 ampare</td>
      <td>32.0</td>
    </tr>
    <tr>
      <td>L3 ampare</td>
      <td>22.0</td>
    </tr>
    <tr>
      <td>Earth current</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>L1 wattage</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>L2 wattage</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>L3 wattage</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Total wattage</td>
      <td>7.1</td>
    </tr>
    <tr>
      <td>running generator</td>
      <td>65063.0</td>
    </tr>
  </tbody>
</table>
  <br>
  </body>                                                                                                                  
</html>                                                                                                                    
