                                                                                                        
<html>                                                                                                                     
  <head><title>Generator Monitor</title></head>                                                                                     
  <meta http-equiv="refresh" content="10" >                                                                                
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>                                                        
  <body>                                                                                                                   
    最終更新時間[UTC]：2019-06-09 23:58:01<br>                                                                                   
    <table border="1" class="dataframe mystyle">
  <tbody>
    <tr>
      <td>temp.powersuply</td>
      <td>17.94</td>
    </tr>
    <tr>
      <td>temp.box</td>
      <td>18.03</td>
    </tr>
    <tr>
      <td>temp.fuelfilter65063</td>
      <td>14.49</td>
    </tr>
    <tr>
      <td>temp.fuelfilter65064</td>
      <td>8.58</td>
    </tr>
    <tr>
      <td>temp.genhouse</td>
      <td>9.97</td>
    </tr>
    <tr>
      <td>humidity.genhause</td>
      <td>0.05</td>
    </tr>
    <tr>
      <td>flowrate.flowmeter65063</td>
      <td>-0.03</td>
    </tr>
    <tr>
      <td>temp.flowmeter65063</td>
      <td>10.21</td>
    </tr>
    <tr>
      <td>flowrate.flowmeter65064</td>
      <td>0.71</td>
    </tr>
    <tr>
      <td>temp.flowmeter65064</td>
      <td>10.11</td>
    </tr>
    <tr>
      <td>temp.heater65063</td>
      <td>5.19</td>
    </tr>
    <tr>
      <td>temp.heater65064</td>
      <td>16.01</td>
    </tr>
    <tr>
      <td>highlevelalarm.gen65063</td>
      <td>0.32</td>
    </tr>
    <tr>
      <td>lowlevelalarm.gen65063</td>
      <td>-0.37</td>
    </tr>
    <tr>
      <td>solenoid.gen65063</td>
      <td>0.00</td>
    </tr>
    <tr>
      <td>highlevelalarm.gen65064</td>
      <td>-0.14</td>
    </tr>
    <tr>
      <td>lowlevelalarm.gen65064</td>
      <td>0.16</td>
    </tr>
    <tr>
      <td>solenoid.gen65064</td>
      <td>0.35</td>
    </tr>
    <tr>
      <td>NC</td>
      <td>-100.00</td>
    </tr>
    <tr>
      <td>NC.1</td>
      <td>-100.00</td>
    </tr>
  </tbody>
</table>
  <br>
  </body>                                                                                                                  
</html>                                                                                                                    
