<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/style2.css">
    <title>Fuel monitor</title>
  </head>
  <body>
  <div id="wrap">
    <header>
      <h1>NANTEN2 Fuel Monitor</h1>
    </header>
    </div>
    <div id="sidenavi">
    </div>
    <h2>24hour Fuel Monitor</h2>
       <div class="contents">
          <table align="center">
      <tr>
	<td>
	  <a href="static/img/24h_img/temp_powersuply.png"><img src="static/img/24h_img/temp_powersuply.png" width="600" height="450"></a></td>
	<td>
	  <a href="static/img/24h_img/temp_box.png"><img src="static/img/24h_img/temp_box.png" width="600" height="450"></a>
	</td>
      </tr>
      <tr>
	<td>
	  <a href="static/img/24h_img/temp_fuelfilter.png"><img src="static/img/24h_img/temp_fuelfilter.png" width="600" height="450"></a>
	</td>
	<td>
	  <a href="static/img/24h_img/temp_genhause.png"><img src="static/img/24h_img/temp_genhause.png" width="600" height="450"></a>
	</td>
      </tr>
    </table>
    <table align="center">
      <tr>
	<td>
	  <a href="static/img/24h_img/humidity_genhause.png"><img src="static/img/24h_img/humidity_genhause.png" width="600" height="450"></a>
	</td>
        <td>
	  <a href="static/img/24h_img/flowrate_flowmeter.png"><img src="static/img/24h_img/flowrate_flowmeter.png" width="600" height="450"></a>
	  </td>
      </tr>
    </table>
    <table align="center">
      <tr>
        <td>
	  <a href="static/img/24h_img/temp_heater.png"><img src="static/img/24h_img/temp_heater.png" width="600" height="450"></a>
        </td>
        <td>
	  <a href="static/img/24h_img/highlevelalarm.png"><img src="static/img/24h_img/highlevelalarm.png" width="600" height="450"></a>
	  </td>
      </tr>
    </table>
    <table align="center">
      <tr>
        <td>
	  <a href="static/img/24h_img/lowlevelalarm.png"><img src="static/img/24h_img/lowlevelalarm.png" width="600" height="450"></a>
        </td>
        <td>
	  <a href="static/img/24h_img/solenoid.png"><img src="static/img/24h_img/solenoid.png" width="600" height="450"></a>
</td>
    </table>
    </div>
</body>
</html>
